body {
    background-color: rgb(233,233,233);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    
}

.header-title {
    color:white;
    background-color: royalblue;
    font-size: 30px;
    padding: 15px 10px;
}

.card-title {
    text-align: justify;
    font-weight: bold;
}

.card {
    background-color: white;
    width: 50%;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 1px 2px rgba(163,163,163,0.5);
    border: 1px solid rgb(151,151,151);
    padding: 20px;
}


.card-form {
    
    width: 100%;
}

.form-imput {
    width: 80%;
}

.form-textarea {
    width: 80%;
}

button{
    background-color: blue;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.form-group {
    margin-bottom: 20px;
}

footer {
    background-color: gray;
    color: white;
    text-align: center;
    padding: 5px;
    position: fixed;
    width: 100%;
    bottom: 0;
    font-size: 10px;
}

.container {
    align-content: center;

}