.container-top {
    background-image: url(https://www.google.com/search?q=pizzaria+img&tbm=isch&ved=2ahUKEwj3nrzx7YDzAhXLtJUCHSnCBEwQ2-cCegQIABAA&oq=pizzaria+img&gs_lcp=CgNpbWcQA1C9OliIQGDaRWgAcAB4AIABAIgBAJIBAJgBAKABAaoBC2d3cy13aXotaW1nwAEB&sclient=img&ei=sdZBYbeCA8vp1sQPqYST4AQ#imgrc=ndjC4BDVfnAwnM);
}