body p{
    margin: 0;
    padding: 0;
}

body{
    margin: 0 auto;
    align-items: center;    
    max-width: 1440px;        
}

.container{
    display: flex;    
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    padding-top: 30px;  
    height: 440px;     
    padding-bottom: 30px;        
}

.item-1{    
    width: 500px;
    height: 250px;
    padding: 10px 10px 0 10px;
    background-color: #D3D3D3;
}

.item-2{ 
    display: flex;
    flex-direction: column;     
    width: 500px;
    height: 300px;
    padding: 10px;
    background-color: #D3D3D3;    
}

.item-3{ 
    display: flex;
    flex-direction: row;        
    height: 150px;    
}

.item-4{  
    margin-top: 10px;  
    width: 100%;   
    height: 140px; 
    margin-bottom: 10px;   
}

.box-1{    
    background-color: #c2ff76;
    height: 150px;        
}

.box-1 p{
    text-align: center;
    padding-top: 40px;
    font-size: 3em;
    color: white;
}

.box-2{        
    width: 50%;
    background-color: #ff7676;        
}

.box-2 p{
    text-align: center;
    padding-top: 50px;
    font-size: 3em;
    color: white;
}

.box-3{
    margin-left: 10px;
    width: 50%;    
    background-color: pink;    
}

.box-3 p{
    text-align: center;
    padding-top: 45px;
    font-size: 3em;
    color: white;
}

.box-4{
    width: 100%;
    height: 65px;    
    background-color: #9ba4ff;    
}

.box-4 p{
    text-align: center;
    padding-top: 8px;
    font-size: 3em;
    color: white;
}

.box-4b{
    margin-top: 10px;
    height: 65px;
    width: 100%;    
    background-color: #9ba4ff; 
}

.box-4b p{
    text-align: center;
    padding-top: 8px;
    font-size: 3em;
    color: white;
}


