body p{
    margin: 0;
    padding: 0;
}

body{
    margin: 0 auto;
    align-items: center;    
    max-width: 1440px;        
}

.header{        
    margin-top: 20px; 
    width: 100%;      
}


.header img{
    background-size: cover;
    width: 100%;
}

.container{
    display: flex;    
    flex-direction: row;
    justify-content: center;
    align-items: center;    
    padding-top: 50px;       
}

.item-1{    
    width: 300px;
    height: 300px;
    padding: 10px;
    background-color: #D3D3D3;
}

.item-2{    
    flex-direction: column;
    width: 500px;
    height: 300px;
    padding: 10px;
    background-color: #D3D3D3;
}

.item-3{
    display: flex;
    height: 140px;    
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0 auto;
}

.item-4{
    width: 100%;    
    margin-left: 10px;
    height: 140px;
}

.box-1{    
    background-color: #ff7676;
    height: 300px;    
}

.box-1 p{
    text-align: center;
    padding-top: 130px;
    font-size: 3em;
    color: white;
}

.box-2{        
    background-color: #c2ff76;
    height: 150px;    
}

.box-2 p{
    text-align: center;
    padding-top: 50px;
    font-size: 3em;
    color: white;
}

.box-3{
    width: 100%;    
    background-color: pink;    
}

.box-3 p{
    text-align: center;
    padding-top: 45px;
    font-size: 3em;
    color: white;
}

.box-4{
    width: 100%;
    height: 65px;    
    background-color: #9ba4ff;    
}

.box-4 p{
    text-align: center;
    padding-top: 8px;
    font-size: 3em;
    color: white;
}

.box-4b{
    margin-top: 10px;
    height: 65px;
    width: 100%;    
    background-color: #9ba4ff; 
}

.box-4b p{
    text-align: center;
    padding-top: 8px;
    font-size: 3em;
    color: white;
}

